/* element selector */
/* referensi web colorhunt.co */
body {
    background-color:#1A05A2;
    color: white;
    font-family: Gothic;
}

.txt-center {text-align: center;}
.bg-warning {background-color: rgb(0, 0, 0); border-radius: 20px 20px 20px 20px; border-style: dotted;}
.txt-black {color: black;}
.p-1 {padding: 10px}
.m-1 {margin: 20px;}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
  background-color: red;
}

/* selected link */
a:active {
  color: blue;
}